<component name="ArtifactManager">
  <artifact type="war" name="mybatis_reverse:war">
    <output-path>$PROJECT_DIR$/../mybatis_reverse/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatis_reverse</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="mybatis_reverse-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatis_reverse:war exploded" />
    </root>
  </artifact>
</component>